body {
    background-color: lightblue;
  }
  
  h1 {
    font-family: "Times New Roman", Times, Serif;
    color: navy;
    margin-left: 20px;
  }
  .p1 {
    font-family: "Times New Roman", Times, Serif;
    margin-left: 20px;
  }